<div class="Payslip" style="margin-left: 300px; background-image:url('../../assets/publics/backgroundsakura.jpg'); background-size: cover">
    <strong>
        <h2 style="color: pink">Payslip</h2>
    </strong>
    <div class="row">
        <input class="btn" type="submit" style="background-color:pink" value="Create New Request">
    </div>
    <br>
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class=" table-danger">
                    <th scope="col">ID</th>
                    <th scope="col">No Of Deployee</th>
                    <th scope="col">Payslip For Month</th>
                    <th scope="col">Create By</th>
                    <th scope="col">Status</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                    <td>@mdo</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>