<div style="width: 100%" class="Payslip"
    style="margin-left: 300px;">
    <strong>
        <h2 style="color: rgb(253, 137, 156);margin-left: 20px">Monthly Payslips Request</h2>
    </strong>
    <div class="row" style="margin-left: 20px">
        <button class="btn" type="submit" style="background-color:pink; z-index: 0;" mat-raised-button
            (click)="openCreate()">
            <i class="fas fa-plus"></i><strong> Create New Request</strong>
        </button>
    </div>
    <br>
    <div class="row" style="width: 90%; margin-left: 20px">
        <table style="z-index:100" class="table table-hover table-bordered shadow p-3 mb-5 bg-white rounded">
            <thead>
                <tr class=" table-danger">
                    <th scope="col">ID</th>
                    <th scope="col">No Of Deployee</th>
                    <th scope="col">Payslip For Month</th>
                    <th scope="col">Create By</th>
                    <th scope="col">Status</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody *ngFor='let item of service.list'>
                <tr>
                    <th scope="row">{{item.Id}}</th>
                    <td>{{item.NoOfDeployee}}</td>
                    <td>{{months[item.PayslipForMonth-1]}}</td>
                    <td>{{item.CreateBy}}</td>
                    <td>{{status[item.Status]}}</td>
                    <td><button type="button" class="btn" style="background-color: pink" routerLink="../payslips/{{item.Id}}">Open</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>